/* Basic styling for the registration page */
.registration-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .registration-form-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
  }
  
  .registration-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  textarea,
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #fb5f66;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #eea3a7;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  input[type="file"] {
    margin-top: 10px;
  }
  
  button[type="submit"] {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }
  /* Basic styling for the login page */
.login-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .login-form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h1 {
    font-size: 24px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }
  